{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h3 class="m-4">History Log</h3>
      {% if history %}
      <div class="card bg-light ms-4 me-4 mb-4">
        <div class="card-header">
          <i class="fa-solid fa-clock-rotate-left fa-lg"></i> History Log Records
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">Item Name</th>
                  <th scope="col">Item Category</th>
                  <th scope="col">User</th>
                  <th scope="col">Description</th>
                </tr>
              </thead>
              <tbody>
                {% for log in history %}
                <tr>
                  <td>{{ log.date_log }}</td>
                  <td>{{ log.item.name }}</td>
                  <td>{{ log.category.name }}</td>
                  <td>{{ log.user.username }}</td>
                  <td>{{ log.description }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      {% else %}
      <h5 class="alert alert-primary ms-4 me-4">No History Logs available to display</h5>
      {% endif %}
    </div>

    <div class="col-md-6">
      <h3 class="m-4">Quantity Log</h3>
      {% if logs %}
      <div class="card bg-light ms-4 me-4 mb-4">
        <div class="card-header">
          <i class="fa-solid fa-list-ol fa-lg"></i> Quantity Log Records
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">Item</th>
                  <th scope="col">Previous Count</th>
                  <th scope="col">Current Count</th>
                  <th scope="col">User</th>
                </tr>
              </thead>
              <tbody>
                {% for log in logs %}
                <tr>
                  <td>{{ log.date_log }}</td>
                  <td>{{ log.item.name }}</td>
                  <td>{{ log.previous_count }}</td>
                  <td>{{ log.change }}</td>
                  <td>{{ log.user.username }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      {% else %}
      <h5 class="alert alert-primary ms-4 me-4">No Quantity Logs available to display</h5>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}