{% extends 'base.html' %}
{% block content %}

<h1>Item Details</h1>

<div class="row">
  <div class="card">
    <div class="card-content">
      <span class="card-title">{{ item.name }}</span>
      {% if item.quantity_current > item.quantity_min %}
      <p>Quantity: {{ item.quantity_current }}</p>
      {% else %}
      <p>
        There {% if item.quantity_current == 1 %} is {% else %} are {% endif %}
        only
        <span style="color: red">{{ item.quantity_current }}</span> remaining.
        Please restock.
      </p>
      {% endif %}
      <p>Minimum Quantity: {{ item.quantity_min }}</p>
      <p>Maximum Quantity: {{ item.quantity_max }}</p>
      <p>Description: {{ item.description|linebreaks }}</p>
    </div>
    <div class="card-action">
      <a href="{% url 'items_update' item.id %}">Edit</a>
      <a href="{% url 'items_delete' item.id %}">Delete</a>
    </div>
    <div class="col s6">
      <h3>Change Quantity</h3>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn">Change Quantity</button>
      </form>
    </div>
  </div>

  <!-- Quantity Tracker per Item -->
  <div class="col s6">
    <h3>Recent Quantity Changes</h3>
    {% if last_quantity_changes %}
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Previous Count</th>
          <th>Current Count</th>
          <th>User</th>
        </tr>
      </thead>
      <tbody>
        {% for log in last_quantity_changes %}
        <tr>
          <td>{{ log.date_log }}</td>
          <td>{{ log.previous_count }}</td>
          <td>{{ log.change }}</td>
          <td>{{ log.user.username }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>No recent quantity changes.</p>
    {% endif %}
  </div>
</div>

<hr />

<div class="row">
  <div class="col s6">
    <h3>{{ item.name }}'s Categories</h3>
    {% if item.categories.count %} {% for category in item.categories.all %}
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          {{item.name}} belongs to {{category.name }}
        </span>
      </div>
      <div class="card-action">
        <form action="{% url 'unassoc_category' item.id category.id %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn">Remove</button>
        </form>
      </div>
    </div>
    {% endfor %} {% else %}
    <h5>No categories</h5>
    {% endif %}
  </div>
</div>

<div class="col s6">
  <h3>Available Categories</h3>
  {% if categories.count %} {% for category in categories.all %}
  <div class="card">
    <div class="card-content">
      <span class="card-title">
        {{category.name}}
      </span>
    </div>
    <form action="{% url 'assoc_category' item.id category.id %}" method="POST">
      {% csrf_token %}
      <button type="submit" class="btn">Add</button>
    </form>
  </div>
  {% endfor %} {% else %}
  <h5>{{item.name}} Already Has All Categories Available</h5>
  {% endif %}
</div>
</div>

{% endblock %}