{% extends 'base.html' %}
{% block content %}

<h3>Category Details</h3>

<div class="card">
    <div class="card-content">
        <span class="card-title">{{ category.name }}</span>
        <p>Description: {{ category.description|linebreaks }}</p>

    </div>
    <div class="card-action">
        <a class="btn btn-warning" href="{% url 'categories_update' category.id %}">Edit</a>
        <a class="btn btn-danger" href="{% url 'categories_delete' category.id %}">Delete</a>
    </div>
</div>



{% endblock %}